<nav class="sort-options">
	<button id="sortDate" class="active">
		Date
	</button>
	<button id="sortPriority">
		Priority
	</button>
</nav>
<div class="tasks-list">
	<input type="text" name="title" id="title">
	<textarea name="description" id="description" cols="30" rows="10"></textarea>
	<select name="priority" id="priority">
		<option value="low">Low</option>
		<option value="medium">Medium</option>
		<option value="high">High</option>
	</select>
	<input type="datetime" name="dueDate" id="dueDate">
	<input type="submit" value="Add">
</div>